.encabezado
{
	background-color: #a7ffd9;
}

.titulohv
{
	color: #00522e;
}
.colornombre
{
	color:#00a99b;
}
.actividad
{
	color: #5c5c5c;
}
.fondofooter
{
	background-color:#a7ffd9; 
	text-align: center;
}
.alineacionesxperi
{
	text-align: center;
}